<ion-header>
  <ion-toolbar color ="primary">
    <ion-title text-center>Tarjetones</ion-title>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/">
        </ion-back-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-slides>
        <ion-slide><ion-img src="../assets/imgs/tarjeton_index.jpg" routerLink="/cupones" ></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/ta.jpg" routerLink="/compras"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/tb.jpg" routerLink="/compras"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/tc.jpg" routerLink="/compras"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/td.jpg" routerLink="/compras"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/te.jpg" routerLink="/compras"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/tf.jpg" routerLink="/compras"></ion-img></ion-slide>

      </ion-slides>

    <ion-content padding id="page2"></ion-content>
