<ion-header>
  <ion-toolbar color ="primary" >
    <ion-title>Campañas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-list>
        <ion-item *ngFor="let item of items">
          <ion-thumbnail slot="start">
            <ion-img [src]="item.src"></ion-img>
          </ion-thumbnail>
          <ion-label>{{item.text}}</ion-label>
        </ion-item>
      </ion-list>


    <ion-content padding id="page1">

      <ion-slides>
        <ion-slide><ion-img src="../assets/imgs/burger.jpg"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/carne.jpg"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/hambueguesas.jpg"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/parrilla.jpg"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/platanos.jpg"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/royal.jpg"></ion-img></ion-slide>
        <ion-slide><ion-img src="../assets/imgs/juegos.jpg"></ion-img></ion-slide>
      </ion-slides>


    </ion-content>


