

<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>Mis Cupones</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-header>

    <ion-grid>
        
      
        <ion-row align-items-center>
          <ion-col >
              <div>
                  <ion-icon name="cash"></ion-icon>
            $ precio del tarjeton COP
            </div>
          </ion-col>
          <ion-col >
              <div>
                  <ion-icon name="cash"></ion-icon>
            $ precio Acumulado COP
            </div>
          </ion-col>
          <ion-col >
              <div>
              <ion-icon name="cart" size="large" routerLink="/compras"></ion-icon>
            Carrito de compra
          </div>
          </ion-col>
        
         
        </ion-row>
      
       
     
      
        
      </ion-grid>



</ion-header>

<div>



</div>

<ion-content padding>


  <ion-card>
    <ion-img src="/assets/imgs/ca.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>CUPON A</ion-card-subtitle>
      <ion-card-title>Entradas 3</ion-card-title>
      <ion-card-title>Cupon A</ion-card-title>

    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Activo</ion-label>
    </ion-item>
    <div class="example-center">
      <ion-button slot="start" name="star" size="large" expand="block" fill="solid" color="success" shape="round" (click)="encodedText()"  >
        Generar Cupon</ion-button>
    </div>
    <ion-item>
    </ion-item>

  </ion-card>

  
  <ion-card>
    <ion-img src="/assets/imgs/cb.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>CUPON B</ion-card-subtitle>
      <ion-card-title>Entradas 3</ion-card-title>
      <ion-card-title>Cupon B</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Activo</ion-label>

    </ion-item>
    <div class="example-center">
      <ion-button slot="start" name="star" size="large" expand="block" fill="solid" color="success" shape="round" (click)="encodedText()">
        Generar Cupon</ion-button>
    </div>
    <ion-item>

    </ion-item>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/imgs/cc.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>CUPON C</ion-card-subtitle>
      <ion-card-title>Entradas 1</ion-card-title>
      <ion-card-title>Cupon C</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Activo</ion-label>
    </ion-item>
    <div class="example-center">
      <ion-button slot="start" name="star" size="large" expand="block" fill="solid" color="success" shape="round" (click)="encodedText()">
        Generar Cupon</ion-button>
    </div>
    <ion-item>


    </ion-item>

  </ion-card>

  <ion-card>
    <ion-img src="/assets/imgs/cd.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>CUPON D</ion-card-subtitle>
      <ion-card-title>Entradas 2</ion-card-title>
      <ion-card-title>Cupon D</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Inacttivo</ion-label>

    </ion-item>
    <div class="example-center">
      <ion-button slot="start" name="star" size="large" expand="block" fill="solid" color="success" shape="round" (click)="encodedText()" >
        Generar Cupon</ion-button>
    </div>
    <ion-item>

    </ion-item>

  </ion-card>

  <!-- List of Sliding Items -->

  <ion-card>
    <ion-img src="/assets/imgs/ce.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>CUPON D</ion-card-subtitle>
      <ion-card-title>Entradas 2</ion-card-title>
      <ion-card-title>Cupon D</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Inacttivo</ion-label>

    </ion-item>
    <div class="example-center">
      <ion-button slot="start" name="star" size="large" expand="block" fill="solid" color="success" shape="round" (click)="encodedText()" >
        Generar Cupon</ion-button>
    </div>
    <ion-item>

    </ion-item>

  </ion-card>


  <ion-card>
    <ion-img src="/assets/imgs/cf.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>CUPON F</ion-card-subtitle>
      <ion-card-title>Entradas 2</ion-card-title>
      <ion-card-title>Cupon F</ion-card-title>
    </ion-card-header>
    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Inacttivo</ion-label>

    </ion-item>
    <div class="example-center">
      <ion-button slot="start" name="star" size="large" expand="block" fill="solid" color="success" shape="round" (click)="encodedText()">
        Generar Cupon</ion-button>
    </div>
    <ion-item>

    </ion-item>

  </ion-card>



  <ion-card>
    <ion-img src="/assets/imgs/cg.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>CUPON D</ion-card-subtitle>
      <ion-card-title>Entradas 2</ion-card-title>
      <ion-card-title>Cupon D</ion-card-title>
    </ion-card-header>

    <ion-item class="activated">
      <ion-icon name="warning" slot="start"></ion-icon>
      <ion-label>Inacttivo</ion-label>

    </ion-item>
    <div class="example-center">
      <ion-button slot="start" name="star" size="large" expand="block" fill="solid" color="success" shape="round" (click)="encodedText()">
        Generar Cupon</ion-button>
    </div>

  </ion-card>

    <!-- Creacion y lectura de QR -->
  <!--
    
    <ion-item>
   <ion-input type="text" placeholder="my qr data" [(ngModel)]="qrData"></ion-input>
    </ion-item>
     
    <button ion-button full icon-left (click)="createCode()">
      <ion-icon name="barcode"></ion-icon>crearCodigo
    </button>

    <button ion-button full icon-left (click)="scanCode()">
      <ion-icon name="qr-scanner"></ion-icon>scanearcodigo
    </button>

  <ion-card *ngIF="createdCode">
    <ngx-qrcode [(qrc-value)]="createdCode"></ngx-qrcode>
    <ion-card-contend>
      <p>Value: {{ createdCode }}</p>
   </ion-card-contend>>
  </ion-card>


  <ion-card *ngIF="scannedCode">
      <ngx-qrcode [(qrc-value)]="scannedCode"></ngx-qrcode>
      <ion-card-contend>
        Result from Scan: {{scanearcodigo}}
     </ion-card-contend>>
    </ion-card>
   
-->

<ion-content padding>

  <h1>Click To Scan</h1>

  <ion-button color="secondary" (click)="scanCode()">Scan Code</ion-button>
  <!-- <button ion-button round (click)="scanCode()">Scan Code</button> -->

  <div *ngIf="scannedData">
    <p>Scanned Code Text : <b>{{scannedData['text']}}</b></p>
    <p>Scanned Code Format : <b>{{scannedData['format']}}</b></p>
  </div>


<!--
  <h1>Click To Generate QR Code</h1>

  <ion-input type="text" [(ngModel)]="encodeData"></ion-input>
  <button ion-button (click)="encodedText()">Cupon A</button>
  <ion-button color="success" (click)="encodedText()">Encode Text</ion-button>

-->

</ion-content>

  <ion-content padding id="page3"></ion-content>