<ion-header>
  <ion-toolbar color ="primary">
    <ion-title>calificar</ion-title>

    <ion-buttons slot="start">
        <ion-back-button defaultHref="/">
        </ion-back-button>
      </ion-buttons>


  </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-card>
        <ion-img src="/assets/imgs/encuesta.jpg"></ion-img>
          <ion-card-header>
             
              <ion-card-title>Califica nuestro servicio</ion-card-title>
              
            </ion-card-header>
            <ion-item class="activated">
                
              </ion-item>         
          
      </ion-card>


    <ion-list>
        <ion-list-header>Califica nuestro servicio</ion-list-header>
      
        <ion-item>
          <ion-label>Considera que la calidad del servicio es la adecuada</ion-label>
          <ion-select placeholder="Select One">
            <ion-select-option value="f">Si...!de acuerdo!</ion-select-option>
            <ion-select-option value="m">No...</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
            <ion-label>Esta satisfecho con el servicio prestado</ion-label>
            <ion-select placeholder="Select One">
                <ion-select-option value="f">Si...!de acuerdo!</ion-select-option>
                <ion-select-option value="m">No...</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
              <ion-label>Considera que la informacion suministrada para el uso de los servicios es la adecuada</ion-label>
              <ion-select placeholder="Select One">
                  <ion-select-option value="f">Si...!de acuerdo!</ion-select-option>
                  <ion-select-option value="m">No...</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item>
                <ion-label>¿De acuerdo a su experiencia volveria a contratar nuestros servicios?</ion-label>
                <ion-select placeholder="Select One">
                    <ion-select-option value="f">Si...!de acuerdo!</ion-select-option>
                    <ion-select-option value="m">No...</ion-select-option>
                </ion-select>
              </ion-item>
  <!--     
        <ion-item>
          <ion-label>Hair Color</ion-label>
          <ion-select value="brown" okText="Okay" cancelText="Dismiss">
            <ion-select-option value="brown">Brown</ion-select-option>
            <ion-select-option value="blonde">Blonde</ion-select-option>
            <ion-select-option value="black">Black</ion-select-option>
            <ion-select-option value="red">Red</ion-select-option>
          </ion-select>
        </ion-item>
      -->
      </ion-list>

<ion-content padding id="page5"></ion-content>
