<ion-header>




  <ion-toolbar color ="primary">
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>

   

  </ion-toolbar>
</ion-header>





<ion-content>
  <ion-card class="welcome-card">
    <ion-img src="/assets/imgs/target_marketing.jpg"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>https://targetmarketing.com.co/</ion-card-subtitle>
      <ion-card-title>Bienvenidos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Nuestra personalidad de marca está basada en el modelo ‘’CUPON’’ que globalmente son muy reconocidos; Buscamos
        una cara amable y divertida para que los clientes y usuarios finales de esta herramienta de ahorro le sean
        trasladados descuentos de alto valor que le permitan grades ahorros, personales familiares y grupales.
        Nos enfocamos en Publicidad y Marketing directo al público objetivo. Estrategias creativas para productos o
        empresas: Selección de objetivos, estructuración de campaña, diseño de tarjetones promocionales, promociones o
        acciones online, medición y seguimiento de resultados..</p>
    </ion-card-content>
  </ion-card>


  <!--

  <ion-list lines="none">
    <ion-list-header>
      <ion-label>Resources</ion-label>
    </ion-list-header>
    <ion-item href="https://ionicframework.com/docs/">
      <ion-icon slot="start" color="medium" name="book"></ion-icon>
      <ion-label>Ionic Documentation</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/building/scaffolding">
      <ion-icon slot="start" color="medium" name="build"></ion-icon>
      <ion-label>Scaffold Out Your App</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/layout/structure">
      <ion-icon slot="start" color="medium" name="grid"></ion-icon>
      <ion-label>Change Your App Layout</ion-label>
    </ion-item>
    <ion-item href="https://ionicframework.com/docs/theming/basics">
      <ion-icon slot="start" color="medium" name="color-fill"></ion-icon>
      <ion-label>Theme Your App</ion-label>
    </ion-item>
  </ion-list>
-->
</ion-content>